# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [43]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [44]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "/Users/mia/code/class/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv"

# # Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# # Display sample data
# # YOUR CODE HERE
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hobart,AU,-42.8794,147.3294,60.06,63,75,10.36,broken clouds
1,1,Butaritari,KI,3.0707,172.7902,82.38,74,94,16.75,overcast clouds
2,2,Longyearbyen,SJ,78.2186,15.6401,37.24,93,75,6.91,broken clouds
3,3,Pitanga,BR,-24.7572,-51.7614,59.25,84,80,2.98,broken clouds
4,4,Jamestown,US,42.0970,-79.2353,44.71,50,0,9.22,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [45]:
# Prompt the user to enter the minimum temperature criteria
# YOUR CODE HERE
min_temp = float(input("What is the minimum temperature you would like for your trip? ")) 

# Prompt the user to enter the maximum temperature criteria
# YOUR CODE HERE
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [48]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]            
# Display sample data
# YOUR CODE HERE
preferred_cities_df.head(10)
# len(preferred_cities_df) #184

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Souillac,MU,-20.5167,57.5167,73.78,64,20,13.80,few clouds
7,7,Sinnamary,GF,5.3833,-52.9500,78.35,89,100,7.99,overcast clouds
10,10,Rikitea,PF,-23.1203,-134.9692,74.50,72,55,4.79,broken clouds
11,11,Tigzirt,DZ,36.8886,4.1198,74.66,56,42,5.41,scattered clouds
16,16,Vila Franca Do Campo,PT,37.7167,-25.4333,73.20,86,62,10.25,broken clouds
18,18,Vaini,TO,-21.2000,-175.2000,77.16,78,75,9.22,broken clouds
25,25,Calabozo,VE,8.9242,-67.4293,73.83,92,15,1.83,few clouds
42,42,Muisne,EC,0.6000,-80.0333,74.88,86,95,4.70,overcast clouds
43,43,Port-Gentil,GA,-0.7193,8.7815,77.09,87,100,10.02,light rain
44,44,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.36,89,99,2.44,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [56]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna(how='all')

# Display sample data
# YOUR CODE HERE
clean_travel_cities.head(10)
# len(clean_travel_cities)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,6,Souillac,MU,-20.5167,57.5167,73.78,64,20,13.80,few clouds
7,7,Sinnamary,GF,5.3833,-52.9500,78.35,89,100,7.99,overcast clouds
10,10,Rikitea,PF,-23.1203,-134.9692,74.50,72,55,4.79,broken clouds
11,11,Tigzirt,DZ,36.8886,4.1198,74.66,56,42,5.41,scattered clouds
16,16,Vila Franca Do Campo,PT,37.7167,-25.4333,73.20,86,62,10.25,broken clouds
18,18,Vaini,TO,-21.2000,-175.2000,77.16,78,75,9.22,broken clouds
25,25,Calabozo,VE,8.9242,-67.4293,73.83,92,15,1.83,few clouds
42,42,Muisne,EC,0.6000,-80.0333,74.88,86,95,4.70,overcast clouds
43,43,Port-Gentil,GA,-0.7193,8.7815,77.09,87,100,10.02,light rain
44,44,Sao Joao Da Barra,BR,-21.6403,-41.0511,70.36,89,99,2.44,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [57]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng
6,Souillac,MU,73.78,few clouds,-20.5167,57.5167
7,Sinnamary,GF,78.35,overcast clouds,5.3833,-52.9500
10,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692
11,Tigzirt,DZ,74.66,scattered clouds,36.8886,4.1198
16,Vila Franca Do Campo,PT,73.20,broken clouds,37.7167,-25.4333
18,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000
25,Calabozo,VE,73.83,few clouds,8.9242,-67.4293
42,Muisne,EC,74.88,overcast clouds,0.6000,-80.0333
43,Port-Gentil,GA,77.09,light rain,-0.7193,8.7815
44,Sao Joao Da Barra,BR,70.36,overcast clouds,-21.6403,-41.0511

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [58]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
# YOUR CODE HERE
hotel_df["Hotel Name"] = ""

# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Souillac,MU,73.78,few clouds,-20.5167,57.5167,
7,Sinnamary,GF,78.35,overcast clouds,5.3833,-52.9500,
10,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692,
11,Tigzirt,DZ,74.66,scattered clouds,36.8886,4.1198,
16,Vila Franca Do Campo,PT,73.20,broken clouds,37.7167,-25.4333,
18,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
25,Calabozo,VE,73.83,few clouds,8.9242,-67.4293,
42,Muisne,EC,74.88,overcast clouds,0.6000,-80.0333,
43,Port-Gentil,GA,77.09,light rain,-0.7193,8.7815,
44,Sao Joao Da Barra,BR,70.36,overcast clouds,-21.6403,-41.0511,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [59]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [60]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [61]:
# Display sample data
# YOUR CODE HERE
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Souillac,MU,73.78,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
7,Sinnamary,GF,78.35,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
10,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692,People ThankYou
11,Tigzirt,DZ,74.66,scattered clouds,36.8886,4.1198,Bloc D tazoumbirt (amar)
16,Vila Franca Do Campo,PT,73.20,broken clouds,37.7167,-25.4333,Pestana Bahia Praia
18,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Calabozo,VE,73.83,few clouds,8.9242,-67.4293,Hotel Giardini
42,Muisne,EC,74.88,overcast clouds,0.6000,-80.0333,Quinta Samay
43,Port-Gentil,GA,77.09,light rain,-0.7193,8.7815,Fengshui Residence
44,Sao Joao Da Barra,BR,70.36,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [68]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset =["Hotel Name"])

# Display sample data
# YOUR CODE HERE
clean_hotel_df.head(10)
# len(clean_hotel_df) #184

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
6,Souillac,MU,73.78,few clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
7,Sinnamary,GF,78.35,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
10,Rikitea,PF,74.50,broken clouds,-23.1203,-134.9692,People ThankYou
11,Tigzirt,DZ,74.66,scattered clouds,36.8886,4.1198,Bloc D tazoumbirt (amar)
16,Vila Franca Do Campo,PT,73.20,broken clouds,37.7167,-25.4333,Pestana Bahia Praia
18,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
25,Calabozo,VE,73.83,few clouds,8.9242,-67.4293,Hotel Giardini
42,Muisne,EC,74.88,overcast clouds,0.6000,-80.0333,Quinta Samay
43,Port-Gentil,GA,77.09,light rain,-0.7193,8.7815,Fengshui Residence
44,Sao Joao Da Barra,BR,70.36,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [71]:
# output_data_file = "WeatherPy_vacation_MS.csv"

# # Export the city_data DataFrame into a CSV file
# # YOUR CODE HERE
# clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [73]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [74]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
# YOUR CODE HERE
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [75]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [76]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pudong Holiday Hotel</dd>\n<dt>City</dt><dd>Aksu</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CCI Express Inn</dd>\n<dt>City</dt><dd>Morehead</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Durrant House Hotel</dd>\n<dt>City</dt><dd>Northam</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taj Krishna, Hyderabad</dd>\n<dt>City</dt><dd>Hyderabad</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>haze and 87.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Resort at Coconut Beach</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 73.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tourist House - Sablino</dd>\n<dt>City</dt><dd>Nikolskoye</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 88.0 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [77]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

     Lat     Lng
0  41.12   80.26
1  -5.20  -35.46
2  37.27  -87.18
3 -33.92   25.57
4  51.03   -4.22
5  17.38   78.47
6 -33.59   26.89
7  -9.80 -139.03
8  22.08 -159.32
9  59.70   30.79

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [79]:
# Add a marker layer for each city to the map. 
# YOUR CODE HERE
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]

# Create a figure to add the Google map as a layer
# YOUR CODE HERE
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))